NODE_ENV=development
PORT=3000

DATABASE=
DATABASE_LOCAL=
DATABASE_PASSWORD=

JWT_SECRET=abcd1234
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

USERNAME_EMAIL=
PASSWORD_EMAIL=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465


